.Entete {
  color: var(--gris1);
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.AdminBG {
  width: 100vw;
  height: auto;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.Text {
  color: var(--gris1);
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  margin-left: 4%;
}

.troiscards {
  display: flex;
  width: 100vw;
  gap: 2%;
  margin-left: 4%;
}

.EnsembleCardsDisponible {
  background-color: #f0f9fe;
  width: 30%;
  height: 440px;
  border-radius: 2%;
  margin-top: 8px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.vehiculeDispo {
  width: 500px;
  height: 20px;
  margin-left: 4%;
  margin-top: 2%;
}

.Card {
  border: 2px solid #d8f0ff;
  border-radius: 3%;
  background-color: white;
  padding: 2%;
  margin-left: 4%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 130px;
  height: 140px;
}

.CardImg {
  margin-top: 1%;
  width: 100px;
}

.ButtonCardAdmin {
  margin-top: 1%;
  height: 4vh;
  width: 6vw;
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
  border-width: 0px;
  font-weight: bold;
  box-shadow: 0 0 3px black;
  font-size: medium;
}

.titre_admin {
  display: flex;
  margin-bottom: 1%;
}

.Booked {
  margin-top: 8px;
  margin-left: 1%;
  border-radius: 2%;
  width: 30%;
  height: 380px;
  background-color: #c2f9c2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BookedCard {
  margin-top: 2%;
  width: 80%;
  height: 80px;
  background-color: white;
  border: 2px solid #adf1a9;
  display: flex;
  align-items: center;
}

.jetImg {
  width: auto;
  height: 80%;
}

.CardTextBooked {
  margin-left: 3%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.CardTextBooked h6 {
  font-size: 0.7rem;
  color: var(--gris1);
}

.buttonX {
  margin-top: 2%;
  margin-left: 2%;
  height: 5vh;
  width: 3vw;
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
  border-width: 0px;
  font-weight: bold;
  box-shadow: 0 0 3px black;
  font-size: medium;
}

.user {
  margin-top: 8px;
  margin-left: 1%;
  border-radius: 2%;
  width: 25%;
  height: 380px;
  background-color: #f0ebdd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserCard {
  margin-top: 2%;
  width: 90%;
  height: 40px;
  background-color: white;
  border: 2px solid #fdf2c5;
  display: flex;
  align-items: center;
}

.userName {
  font-size: 14px;
}

.userMail {
  font-size: 8px;
}

.ImgAvatar {
  width: 30px;
  height: 30px;
  margin-left: 2%;
  margin-right: 2%;
}

.buttonXUser {
  /* margin-top: 2%; */
  margin-left: 30%;
  height: 3vh;
  width: 2vw;
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
  border-width: 0px;
  font-weight: bold;
  box-shadow: 0 0 3px black;
  font-size: medium;
}
